.OrderFormPage {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.OrderForm {
  width: 60%;
  max-width: 300px;
  text-align: center;
  border: 3px solid #2ECC71;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}

.OrderForm h3 {
  color: #2ECC71;
}

.OrderForm input {
  width: 100%;
  margin: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #2ECC71;
}

.OrderForm textarea {
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  margin: 0.5rem;
  border: 1px solid #2ECC71;
}

.OrderForm span {
  align-self: flex-start;
  color: brown;
  font-size: 0.8rem;
}

.OrderForm .SubmitBtn {
  background-color: #2ECC71;
  color: white;
  cursor: pointer;
}